*{
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    height:100vh;
    margin:0;
    display:grid;
    grid-template-rows: auto 1fr auto;
}
.top-screen,.bottom-screen{
    background:#0b8992;
    color:#ffffff;
    padding:20px;
}
.top-screen{
    font-size:xx-large;
    font-weight:bold;
    p{
        font-size:medium;
        margin-bottom:0;
        
    }
}
.game-grid{
    display:grid;
    width:fit-content;
    height:fit-content;
    grid-template-columns:repeat(51, 1fr);
    grid-template-rows:repeat(25, 1fr);
    margin-top:auto;
    margin-bottom:auto;
    margin-left:auto;
    margin-right:auto;
    border-radius:15px;
    -webkit-box-shadow: 6px 8px 12px -4px #1f001f8a;
    -moz-box-shadow: 6px 8px 12px -4px #1f001f8a;
    box-shadow: 6px 8px 12px -4px #1f001f8a;
    /*SIZE OF EACH CELL*/
    div{
        width:30px;
        height:30px;
    }
    .ground{
        background:#61ff61;
    }
    .ground:nth-child(even){
        background:#56d156;
    }
    .player{
        background:#ffd700;
        border:4px solid #001aff;
        border-radius:2px;
    }
    .wall{
        background:black;
    }
    .lava{
        background:red;
    }
    .bridge{
        background:#a86c33;
    }
    .bridge:nth-child(even){
        background:#965f2d;
    }
    .bridge-button{
        background:#c73f00;
    }
    .door{
        background:burlywood;
    }
    .door-button{
        background:magenta;
    }
    .goal{
        background:cyan;
    }
    div:first-child{
        border-top-left-radius:15px;
    }
    div:nth-child(51){
        border-top-right-radius:15px;
    }
    div:nth-child(1225){
        border-bottom-left-radius:15px;
    }
    div:last-child{
        border-bottom-right-radius:15px;
    }
}
.popup-zone{
    position:absolute;
    display:grid;
    grid-template-rows: auto 1fr auto;
    height:100vh;
    width:100%;
    h1{
        margin:0;
    }
    .top-screen,.bottom-screen{
        background: transparent;
        color:transparent
    }
    .overlay{
        width:1530px;
        height:750px;
        margin-top:auto;
        margin-bottom:auto;
        margin-left:auto;
        margin-right:auto;
        border-radius:1em;
        background:#2a00464b;
        text-align: center;
        #howtoplay-popup{
            display:grid;
            width:fit-content;
            padding:20px;
            padding-left:60px;
            padding-right:60px;
            margin-left:auto;
            margin-right:auto;
            height:100%;
            h1{
                color:#ffffff;
                font-size:x-large;
            }
            TABLE,td{
                height:fit-content;
                td{
                    width:50px;
                    height:50px;
                    text-align: center;
                    font-size: xx-large;
                    font-weight:600;
                    border-radius: 10px;
                    background:#ffffff;
                }
                tr:first-child{
                    td:first-child,td:last-child{
                        background:none;
                    }
                }
            }
            button{
                height:fit-content;
                width:fit-content;
                margin-left:auto;
                margin-right:auto;
                margin-top:auto;
                margin-bottom:auto;
            }
        }
        button{
            appearance:none;
            padding:10px;
            padding-left:50px;
            padding-right:50px;
            background:#00e1ff;
            font-size:large;
            font-weight:600;
            border:4px solid #ffffff;
            color:#ffffff;
            border-radius:1em;
        }
        button:hover{
            filter:brightness(90%);
        }
    }
}